<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/AgentSquad.Dashboard/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/AgentSquad.Dashboard/css/dashboard.css" />
    <link rel="stylesheet" href="_content/AgentSquad.Dashboard/app.css" />
    <link rel="stylesheet" href="AgentSquad.Dashboard.styles.css" />
    <link rel="icon" type="image/png" href="_content/AgentSquad.Dashboard/favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
